body{
	font-family: " PT san ",sans-serif;
	background-color: rgb(15,1,17);
	margin: 1;
	color :#fff;
	line-height:1.9;}
a{
	text-decoration: none;
	color: rgb(207,198,210);
}
#showcase{
	margin: 0;
	padding: 0;
	backgroung:url('sport.webp') no-repeat;
}
